<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSaGCcpb-oB26zzEA1tz2lSWA34crtFnw</string>
	<key>GCM_SENDER_ID</key>
	<string>368515858457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ingenious5.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ingenious-5</string>
	<key>STORAGE_BUCKET</key>
	<string>ingenious-5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368515858457:ios:4069e372fdecc119deea88</string>
</dict>
</plist>